.container-table {
    max-width:90%;
    margin-left: auto;
    margin-right: auto;
    margin-left: 0%;
    padding-right: 10px;
  }

.container-table-reservations {
  max-width: 90%;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1%;
}
  
  .responsive-table  li {
      border-radius: 3px;
      padding: 20px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .responsive-table .table-header {
      background: linear-gradient(135deg, #2f5e3d, #5078ad);;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      height: 60px;
    }
    .responsive-table .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
      height: 50px;
      padding: 15px 30px;
    }
    .responsive-table .col-1 {
      margin-left: 5%;
      flex-basis: 20%;
    }
    .responsive-table .col-2 {
      flex-basis: 30%;
    }
    .responsive-table .col-3 {
      flex-basis:30%;
    }
    .responsive-table .col-4 {
      flex-basis: 20%;
    }

    .responsive-table .col-4:hover {
      color: #5078ad;
      cursor: pointer;
    }


    .responsive-table .col-1-price {
      margin-left: 5%;
      flex-basis: 40%;
    }
    .responsive-table .col-2-price {
      flex-basis: 0%;
    }
    .responsive-table .col-3-price {
      flex-basis:20%;
    }
    .responsive-table .col-4-price {
      flex-basis: 30%;
    }

    .responsive-table .col-4-price:hover {
      color: rgb(104, 18, 161);
    }
    
    @media all and (max-width: 767px) {
      .table-header {
        display: none;
      }
      
      li {
        display: block;
      }
      .col {
        
        flex-basis: 100%;
        
      }
      .col {
        display: flex;
        padding: 10px 0;
      }
        .col::before {
          color: #6C7A89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
    }

.edit-pricelist-form {
  width: 100%;
  display: flex;
}

.edit-pricelist {
  border-style: solid;
  border-color: #2f5e3d;
  border-width: 2px;
  border-radius: 5px;
  margin-top: 2%;
  width: 80%;
}

.edit-pricelist-form .rules-btn{
  margin-left: 3%;
  margin-top: 5%;
  margin-bottom: 0%;
}